.wrapper {
    height: 415px;
    width: 100%;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 20px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.next, .previous {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 10%;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    background: none;
}

.next {
    right: 0;
    justify-content: flex-end;
}

.next .arrow {
    transform: rotate(180deg);
}

.previous {
    top: 0;
}

.arrow {
    width: 96px;
    height: 120px;
    padding: 8px 25px 32px 25px;
}


.indicator {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
    color: white;
}

@media (max-width: 768px) {

    .wrapper {
        height: 335px;
        margin-top: 23px;
    }
    .indicator {
        display: none;
    }

    .arrow {
        width: 60px;
        height: 60px;
        padding: 5px 15px 17px 15px;
    }

    .next, .previous {
        width: 15%;
    }

}

@media (max-width: 480px) {

    .wrapper {
        height: 255px;
        margin-top: 27px;
    }

    .arrow {
        width: 24px;
        height: 24px;
        padding: 2px 6px 2px 6px;
    }

    .next, .previous {
        width: 20%;
    }
}