.Header {
    max-width: 1440px;
    margin: auto;
}

.Header>div {
    max-width: 1240px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    gap: 50px;
}

.Header>div>* {
    flex: 1 1 auto;
}

.Header nav {
    max-width: 270px;
}

.Header ul {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    min-width: 200px;
    gap: 10px;
}

.Header li {
    list-style: none;
}

.Header a {
    color: #FF6060;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 142.6%;
}

.Header a[class="active"] {
    text-decoration: underline;
}

.Header img {
    max-width: 100%;
}

.Header h1 {
    margin: 0;
    font-size: 0;
    line-height: 142.6%;
    max-width: fit-content;
}

@media (max-width: 768px) {
    .Header a {
        font-size: 1.25em;
        line-height: 142.6%;
    }
}

@media (max-width:480px) {

    .Header>div {
        margin-top: 20px;
    }

    .Header ul {
        text-transform: uppercase;
        min-width: 140px;
    }

    .Header h1 {
        max-width: 145px;
    }

    .Header>div>* {
        flex-grow: 0;
    }

    .Header a {
        text-decoration: none;
        font-size: 0.75em;
        line-height: 142.6%;
    }
}