/* import correct weight for accordion content */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.button {
    font-size: 24px;
    border: none;
    background: unset;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.title {
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.75em 0.5em 1em;
    border-radius: 5px;
    z-index: 1;
    position: relative;
}

.arrow {
    transform: rotate(180deg);
    width: 29px;
    height: 29px;
}

.content {
    border-radius: 0 0 5px 5px;
    background: #F7F7F7;
    color: #FF6060;
    margin: 0;
    padding: 36px 27px 19px 18px;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 400;
    position: relative;
    top: -9px;
}

.collapsed.arrow{
    transform: unset;
}

@media (max-width: 768px) {
    .title {
        font-size: 20px
    }
    .content {
        font-size: 18px;
    }
    .arrow {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 13px;
        padding: 6px 6px 6px 12px;
    }
    .content {
        font-size: 12px;
        padding: 23px 7px 50px 12px;
    }
    .arrow {
        width: 18px;
        height: 18px;
    }
}