.mainSection {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}

.apartmentInfos {
    max-width: 50%;
}
.title {
    font-size: 36px;
    line-height: 142.6%;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    line-height: 142.6%;
    margin: 0;
    margin-bottom: 20px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hostAndRate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hostName {
    font-size: 18px;
    line-height: 142.6%;
    text-align: right;
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 64px;
}

.hostImg {
    border-radius: 50%;
    width: 64px;
    height:64px;
}

.star {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 4px;
}

.star svg {
    max-width: 100%;
}

.star.full {
    color: #FF6060;
}

.star.empty {
    color: #E3E3E3;
}

.hiddenRating {
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.accordionsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 14px;
}

.accordionsWrapper > * {
    max-width: 47.5%;
    flex: 1 1 47.5%;
}

/* changing font-size for accordions */
.accordionsWrapper p {
    font-size: 18px;
    line-height: 142.6%;
}
.accordionsWrapper > div > button > div > div {
    font-size: 18px;
    line-height: 142.6%;
}

@media (max-width: 768px) {
    .mainSection {
        margin-top: 15px;
        margin-bottom: 16px;
    }

    .apartmentInfos {
        max-width: 60%;
    }

    .title {
        font-size: 24px;
        line-height: 142.6%;
        margin-bottom: 5px;
    }
    
    .subtitle {
        font-size: 16px;
        line-height: 142.6%;
        margin-bottom: 10px;
    }
    
    
    .hostName {
        font-size: 15px;
        line-height: 142.6%;
    }
    
    .hostImg {
        width: 48px;
        height: 48px;
        flex-basis: 48px;
    }
    
    .star {
        width: 27px;
        height: 27px;
        margin-right: 3px;
    }

    .accordionsWrapper {
        flex-direction: column;
        gap: 20px;
    } 

    .accordionsWrapper > * {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .mainSection {
        flex-direction: column;
        justify-content: unset;
        margin-top: 15px;
        margin-bottom: 16px;
    }

    .apartmentInfos {
        max-width: 100%;
    }

    .title {
        font-size: 18px;
        line-height: 142.6%;
        margin-bottom: 5px;
    }
    
    .subtitle {
        font-size: 14px;
        line-height: 142.6%;
        margin-bottom: 10px;
    }

    .hostAndRate {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .host {
        order: 1;
    }
    
    .hostName {
        font-size: 12px;
        line-height: 142.6%;
    }
    
    .hostImg {
        width: 32px;
        height: 32px;
        flex-basis: 32px;
    }
    
    .star {
        width: 18px;
        height: 18px;
        margin-right: 2px;
    }
    .star svg {
        max-width: 90%;
        max-height: 90%;
    }

    .accordionsWrapper {
        flex-direction: column;
        
    }
    
    .accordionsWrapper > * {
        max-width: 100%;
    }

    /* changing font-size for accordions */
    .accordionsWrapper p {
        font-size: 12px;
        line-height: 142.6%;
    }
    .accordionsWrapper > div > button > div > div {
        font-size: 13px;
        line-height: 142.6%;
    }

    .accordionsWrapper > * {
        flex: 1 1 50%;
    }
}